$green: #12E100;

/* Basic layout of the website. Background and margins that all content goes in */
html {
  color: $green;
  background-color: #000000;
  min-height: 100%;
  display: flex;
  flex-flow: column;
  overflow-y: auto;
  scrollbar-gutter: stable;
  font-size: 18px;
}

body {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  padding: 1% 20%;
}

/* Basic html elements */
a {
  color: $green;
}

h1 {
  font-size: 28px;
}

img {
  width: calc(100% - 40px);
  margin: 12px 20px;
}

hr {
  border: 1px solid $green;
}

/* Menu elements */
.menubar {
  border-style: solid;
  border-width: 1px;
  width: max-content;
  height: auto;
  display: flex;
}

.menu-button {
  padding: 5px;
  margin: 0px;
  text-decoration-line: none;
}

/* The div that all content goes in */
.window {
  border-style: solid;
  border-width: 2px;
  flex-grow: 1;
  padding: 5% 10%;
}

/* Style for scribepunk writings */
.monoline {
  margin: 0px;
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
  white-space: pre-wrap;
}

/* Styles for essay previews */
.preview-box {
  outline: 1px solid;
  margin: 18px 0px;
  display: flex;
  padding: 0px 16px;
}

.preview-content {
  text-decoration-line: none;
}

.preview-title {
  text-decoration-line: underline;
  font-size: 20px;
}

/* Style for quote blocks */
.quote {
  border-left-style: solid;
  border-left-width: 2px;
  padding: 5px 0px 5px 10px;
}
