<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/styles.css">
  </head>
  <body>
    <div class="menubar">
      <a class="sb" href="{{ site.url }}{{ site.baseurl }}/index.html">Home</a>
      <a class="sb" href="{{ site.url }}{{ site.baseurl }}/essays.html">Essays</a>
      <a class="sb" href="{{ site.url }}{{ site.baseurl }}/poetry.html">Poetry</a>
      <a class="sb" href="{{ site.url }}{{ site.baseurl }}/scribepunk.html">Scribepunk</a>
      <a class="sb" href="{{ site.url }}{{ site.baseurl }}/reccommends.html">Scribepunk Reccommends</a>
      <a class="sb" href="about.html">About</a>
    </div>
    <div class="window">
      {{ content }}
    </div>
  </body>
</html>
