---
layout: default
---
{% for post in site.posts %}
  {% if post.categories contains page.category %}
    <div class="preview-box">
      <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" class="preview-content">
        <p class="preview-title">{{ post.title }}</p>
        {% if post.subtitle %}
          <p class="preview-subtitle">{{ post.subtitle }}</p>
        {% endif %}
        {% if post.content contains '<!--excerpt-start-->' %}
          {{ post.content | split:'<!--excerpt-start-->' | last | split:'<!--excerpt-end-->' | first }}
          <p>...</p>
        {% endif %}
      </a>
    </div>
  {% endif %}
{% endfor %}
